<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../public/styles/styles.css">

    <title>Show do Milhão</title>
</head>
<body>
    
    <div class="top">
        <img src="https://vignette.wikia.nocookie.net/logopedia/images/6/6d/Show_do_milhao.jpg/revision/latest/scale-to-width-down/200?cb=20140512234935" alt="Logo Show do Milhão">
    </div>

   <div class="bottom">
        <div class="options">
            <a href="pergunta.html">Jogue Já!</a>
            <span><a>Instruções</a></span>
        </div>
    </div>

    <div id="modal">
        <div class="card">
            <span><img src="https://image.flaticon.com/icons/svg/748/748122.svg" alt="Ícone de fechar"></span>     
            <h2>Instruções</h2>
            <div class="list">
            <ul class="instruction-list">
                <li class="list-item">Até 16 perguntas para ganhar até 1 milhão de reais</li>
                <li class="list-item">A cada resposta correta o prêmio aumenta</li>
                <li class="list-item">Em cada pergunta o jogador pode parar ou responder</li>
                <li class="list-item">O jogador também é premiado caso pare ou erre</li>
                <li class="list-item">O jogador não tem direito a segundas tentativas</li>
            </ul> 
            </div>            
        </div>
    </div>

<script src="../public/scripts/scripts.js"></script>
</body>
</html>