<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../public/styles/styles.css">

    <title>Show do Milhão</title>
</head>
<body>
    
    <div class="top">
        <a href="index.html"><img src="https://vignette.wikia.nocookie.net/logopedia/images/6/6d/Show_do_milhao.jpg/revision/latest/scale-to-width-down/200?cb=20140512234935" alt="Logo Show do Milhão"></a>
    </div>

   <div class="bottom">
       <div class="question">
        <p>Qual é melhor quaterback em atividade na National Football League?</p>
       </div>

       <div class="answers">
        <span class="option"> <a href="perder.html"> Mitchell Trubisky</a></span>
        <span class="option"> <a href="perder.html"> Derek Carr</a></span>
        <span class="option"> <a href="ganhar.html"> Aaron Rodgers</a></span>
        <span class="option"> <a href="perder.html"> Kirk Cousins</a></span>
       </div>

        <div class="stop">
            <span><a href="parar.html">Parar</a></span>
        </div>

       <div class="info">
           <span>
               <p class="oi">1 milhão</p>
               <p>Acertar</p>
           </span>

           <span>
               <p>500 mil</p>
               <p>Parar</p>
           </span>

           <span>
               <p>1 real</p>
               <p>Errar</p>
           </span>
       </div>

    </div>
</body>
</html>