*{
    padding: 0;
    margin: 0;
    border: 0;
    font-family: 'Roboto', sans-serif;
}

/* FORMATAÇÃO HOME */

.top{
    width: 100%;
    height: 20vh;
}

.top img{
    display: block;
    margin: 10px auto;
}

.bottom{
    position: relative;
    width: 100%;
    height: 85vh;
    background-color: #00155e;
}

.bottom .options{
    position: absolute;
    top: 220px;
    left: 580px;

}

.bottom .options a{
    display: flex;
    background-color: #bb0000;
    border-radius: 10px;
    padding: 10px 60px;
    margin-bottom: 30px;
    color: white;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
}


/* FORMATAÇÃO INSTRUÇÕES */

.bottom{
    padding-top: 30px;
}

#modal{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
}

.card{
    background-color: #bb0000;
    width: 50vw;
    top: 25%;
    left: 25%;
    margin: 0px auto;
    position: absolute;
    border-radius: 10px;
}

.card img{
    width: 15px;
    height: 15px;
    float: right;
    margin-right: 15px;
    margin-top: 10px;
    cursor: pointer;
}

.card h2{
    text-align: center;
    margin-bottom: 50px;
    color: white;
    padding-top: 30px;
}

.list{
    padding-bottom: 40px;
}

.instruction-list{
    list-style: none;
}

.instruction-list li{
    margin-bottom: 30px;
    margin-left: 30px;
    text-align: center;
    color: white;
}

/* FORMATAÇÃO PERGUNTAS */

.question{
    background-color: #bb0000;
    width: 425px;
    height: 100px;
    border-radius: 10px;
    margin-left: 100px;
}

.question p{
    color: white;
    font-weight: 500;
    text-align: justify;
    padding: 20px;
}

.answers{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.answers a, .stop a{
    text-decoration: none;
    color: white;
}

.option{
    background-color: #bb0000;
    color: white;
    width: 425px;
    height: 40px;
    margin-bottom: 20px;
    margin-left: 100px;
    padding-top: 20px;
    text-align: center;
    border-radius: 10px;
}

.option:hover, .stop:hover{
    cursor: pointer;
    background-color: #e1b000;
    color: #bb0000;
}

.info span{
    display: inline-flex;
    flex-direction: column;
}

.info span p:first-child{
    background-color: #e1b000;
    color: #bb0000;
    font-weight: 500;
    padding: 10px;
    margin-left: 100px;
    border-radius: 10px;
}

.info span p:nth-child(2){
    margin-left: 100px;
    font-weight: 300;
    color: white;
    text-align: center;
}

.stop{
    margin-left: 240px;
    margin-bottom: 16px;
    color: white;
    padding-top: 8px;
    text-align: center;
    background-color: #bb0000;
    width: 145px;
    height: 30px;
    border-radius: 10px;
}

.final-note{
    color: white;
    font-size: 48px;
    text-align: center;
    margin-top: 200px;
}
